/* Empty. Add your own CSS if you like */

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.no-padding {
  padding: 0;
}

ul#tags {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

#tags {
  padding: 0 0 5px 0;
}

ul#tags li {
  display: inline;
  margin-right: 5px;
}

@-webkit-keyframes slideIn {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes slideInSmooth {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

.slide-in {
  -webkit-animation: slideInSmooth ease-in 1;
  animation: slideInSmooth ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 750ms;
  animation-duration: 750ms;
}

.item-body h2 {
  margin-top: 0;
}
